@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  font-family: 'Bellefair', serif;
  color: var(--white);
}

/* Nav Component */

.nav-bar {
  background-color: black;
  min-width: 100%;
  width: 100%;
  position: absolute;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Home Component */

#home {
  background: url('./starter-code/assets/home/background-home-mobile.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh + 1px);
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

#home .home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text {
  color: white;
  padding: 20px 100px 100px 100px;
}

.explore-btn {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}



.explore-btn:hover {
  border: solid 5px rgba(255, 255, 255, 0.6);

}

@media only screen and (min-width: 768px) {
  #home {
    background: url('./starter-code/assets/home/background-home-tablet.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1280px) {
  #home {
    background: url('./starter-code/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }


}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
















/* Custom Colors */

:root {
  /* colors */
  --darkBlue: 230 35% 7%;
  --lightBlue: 231 77% 90%;
  --white: 0 0% 100%;
   /* font-sizes */
   --fs-900: 9.375rem;
   --fs-800: 6.25rem;
   --fs-700: 3.5rem;
   --fs-600: 2rem;
   --fs-500: 1.75rem;
   --fs-400: 1.125rem;
   --fs-300: 1rem;
   --fs-200: 0.875rem;
   
   /* font-families */
   --ff-serif: "Bellefair", serif;
   --ff-sans-cond: "Barlow Condensed", sans-serif;
   --ff-sans-normal: "Barlow", sans-serif;
}

/* reset */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5, 
p, 
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility Classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* .flow > * + * {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
} */

.container {
  padding: 0 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-dark-blue { background-color: hsl(var(--darkBlue));}
.bg-light-blue { background-color: hsl(var(--lightBlue));}
.bg-white { background-color: hsl(var(--white));}

.font-dark-blue { color: hsl(var(--darkBlue));}
.font-light-blue { color: hsl(var(--lightBlue));}
.font-white { color: hsl(var(--white));}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}
