/* custom properties */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: 8vh;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: .8rem;
    --fs-400: 0.7rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    --ls-sp3: 4.75px; 
    --ls-sp2: 2.7px;  
    --ls-sp3: 2.35px;
}

@media (min-width: 700px) {
    :root {
    /* fonts */
        --fs-900: 7vw;
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.3rem;
        --fs-400: 1rem;
    /* font spacing */
        --ls-sp1: 5.75px; 
        --ls-sp2: 4.7px;  
        --ls-sp3: 2.35px;
    }
}

@media (min-width: 1200) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.5rem;
        --fs-400: 1.125rem;
    }
}

/* Reset */
/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Utility classes */

.flex {
    display: flex;
    gap: 1rem;
}

.display-block {
    display: block;
}

.flow {
    margin-top: .8rem;
}

.container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; 
  border: 0;
}

.transparent {
    background-color: transparent;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: var(--ls-sp1); } 
.letter-spacing-2 { letter-spacing: var(--ls-sp2); } 
.letter-spacing-3 { letter-spacing: var(--ls-sp3); } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}

/* Components */

.large-button {
    font-size: .9rem;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: .5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 5rem;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    background: hsl( var(--clr-white) / .08);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s linear, transform .75s ease-in-out;
}
 
.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.logo {
  margin: 1.5rem;
  padding-left: 100px;
}

.primary-navigation {
    --gap: clamp(2rem, 6vw, 7rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / .1);
}

@supports (backdrop-filter: blur(1.5rem)) {
    .primary-navigation {
        background: hsl( var(--clr-white) / 0.05);
        backdrop-filter: blur( 1.5rem );
    }
}

#nav-menu {
   display: none;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

@media (min-width: 700px) {
    .large-button {
        padding: 0 2rem;
        font-size: 1rem;
        width: 9rem;
        height: 9rem;
    }
    .primary-navigation {
        padding: 0 clamp(5rem, 20vh, 10rem);
    }
    .flow {
        margin-top: 1rem;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    .hidden-num {
        display: none;
    }
}
@media (min-width: 1200px) {
    .large-button {
        font-size: 1.6rem;
        width: 12rem;
        height: 12rem;
    }
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        background: rgba(136, 134, 134, 0.472);
        order: 1;
        margin-right: -3rem;
    }
    #nav-bar {
        order: 2;
    }
    .primary-navigation {
        margin-block: 2rem;
    }
}

@media (max-width: 700px) {
    .primary-navigation {
        --underline-gap: .8rem;
        list-style: none;
        margin: 0;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 20%;
        z-index: 99999;
        padding: min(20rem, 15vh) 2rem;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    .primary-navigation[data-visible='true'] {
        transform: translateX(0);
    }
    #nav-menu {
        display: block;
        position: absolute;
        z-index: 9999999;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background: url(./components/assets/shared/icon-hamburger.svg) no-repeat;
        border: 0;
        width: 2rem;
        height: 2rem;
    }
    #nav-menu[aria-expanded='true'] {
        background: url(./components/assets/shared/icon-close.svg) no-repeat;
    }
    .primary-navigation.underline-indicators > .active {
        border: 0;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}
 
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}


/* sections */

/* Destination section */

.grid-container--destination {
    grid-template-areas: 
        "title"
        "image"
        "tabs"
        "content";
}

.numbered-title {
    grid-area: title;
}

.planet-image {
    grid-area: image;
    background: 100% 100%; 
    width: 14rem;
    height: 14rem;
}

.tab-list {
    grid-area: tabs;
}

.destination-info {
    grid-area: content;
}

.destination-data {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) /.1);
    padding-top: 2rem;
    margin-top: 2rem;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

.grid-container p:not([className]) {
    max-width: 50ch;
}

.destination-data p {
    font-size: 1.5rem;
}

/* crew */

.crew {
    height: 100vh;
}

.grid-container--crew {
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.crew-image {
    grid-area: image;
    border-bottom: 1px solid gray;
}

.dot-indicators {
    grid-area: tabs;
}

.crew-info {
    grid-area: content;
}

/* technology */

.grid-container--tech {
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content';
}

.grid-container--tech > .numbered-title {
    grid-area: title;
}

.tech-image {
    grid-area: image;
    margin-inline: 0;
    padding-inline: 0;
}

.btns-container {
    grid-area: tabs;
}

.tech-btns {
    margin-right: 1rem;
    color: white;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-dark);
    border: 1px white solid;
    cursor: pointer;
}

.tech-btns:hover {
    color: black;
    background-color: white;
}

.tech-info {
    grid-area: content;
    padding: 0 1rem;
}

@media (min-width: 700px) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }
    .destination-data {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .numbered-title--destination {
        padding-left: 2rem;
    }
    /* crew */
    .grid-container--crew {
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
        padding-bottom: 0;
    }
    .numbered-title--crew {
        padding-left: 2rem;
    }
    .crew-title {
        opacity: .6;
    }
    .crew-info {
        margin-top: 3rem;
    }
    .grid-container--crew > .dot-indicators {
        margin: 1rem 0 2rem 0;
    }
    .crew-image {
        align-self: end;
        border: none;
    }
    /* technology */
    .numbered-title--tech {
        padding-left: 2rem;
    }
    .tech-info {
        max-width: 52ch;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 1rem);
        grid-template-columns: minmax(3rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(1rem, 1fr);
    }
    .grid-container--home > *:first-child {
        grid-column: 2;
    }
    .grid-container--home > *:last-child {
        grid-column: 3;
    }
    .grid-container--home {
        margin-top: 5rem;
      
    }
    /* Destination */
    .planet-image {
        background: 100% auto;
        width: 22rem;
        height: 22rem;
        justify-items: end;
    }
    .grid-container--destination {
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
        justify-items: start;
    }
    .destination-data {
        gap: min(8vh, 8rem);
        justify-content: start; 
    }
    /* crew */
    .grid-container--crew {
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }
    .grid-container--crew > .dot-indicators {
        justify-self: start;
    }
    .crew-info {
        justify-self: start;
    }
    /* technology */
    .grid-container--tech {
        grid-template-areas: 
        '. title title image '
        '. tabs content image ';
    }
    .btns-container {
        margin-left: -3rem;
    }
    .tech-btns {
        display: block;
        margin-bottom: 2rem;
        width: 5rem;
        height: 5rem;
        font-size: 1.5rem;
    }
    .tech-info {
        justify-self: start;
        text-align: start;
    }
    .tech-description {
        margin-top: 2rem;
    }
    .tech-image {
        margin-top: 4rem;
        justify-self: end;
    } 
}

/* Images */

/* destination images */
/* planet animation */

@media (prefers-reduced-motion: no-preference) {
    .planet-image {
      animation: planet-image-spin infinite 20s linear;
    }
  }
  @keyframes planet-image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.planet-image[data='0'] {
    background: url('./components/assets/destination/image-moon.png') no-repeat center/cover;
}
.planet-image[data='1'] {
    background: url('./components/assets/destination/image-mars.png') no-repeat center/cover; 
}
.planet-image[data='2'] {
    background: url('./components/assets/destination/image-europa.png') no-repeat center/cover;
}
.planet-image[data='3'] {
    background: url('./components/assets/destination/image-titan.png') no-repeat center/cover;
}
/* crew images */
.crew-image[data='0'] {
    background: url('./components/assets/crew/image-douglas-hurley.png') no-repeat center/contain;
    width: 8.5rem;
    height: 12rem;
}
.crew-image[data='1'] {
    background: url('./components/assets/crew/image-mark-shuttleworth.png') no-repeat center/contain; 
    width: 8.1rem;
    height: 12rem;
}
.crew-image[data='2'] {
    background: url('./components/assets/crew/image-victor-glover.png') no-repeat center/contain;
    width: 10.2rem;
    height: 12rem;
}
.crew-image[data='3'] {
    background: url('./components/assets/crew/image-anousheh-ansari.png') no-repeat center/contain;
    width: 11.4rem;
    height: 12rem;
}
/* technology images */
.tech-image[data='0'] {
    background: url('./components/assets/technology/image-launch-vehicle-landscape.jpg') no-repeat center/cover;
    width: 100%;
    height: 25vh;
}
.tech-image[data='1'] {
    background: url('./components/assets/technology/image-spaceport-landscape.jpg') no-repeat center/cover;
    width: 100%;
    height: 25vh;
}
.tech-image[data='2'] {
    background: url('./components/assets/technology/image-space-capsule-landscape.jpg') no-repeat center/cover;
    width: 100%;
    height: 25vh;
}

@media (min-width: 700px) {
    .crew-image[data='0'] {
        width: 22.5rem;
        height: 32.5rem;
    }
    .crew-image[data='1'] {
        width: 22rem;
        height: 32.5rem;
    }
    .crew-image[data='2'] {
        width: 26.5rem;
        height: 31rem;
    }
    .crew-image[data='3'] {
        width: 31rem;
        height: 32.5rem;
    }
}

@media (min-width: 1200px) {
    /* crew animation */
    .crew-image {
        animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        align-self: end;
        margin-top: 3rem;
    }
    @keyframes slide-top {
        0% {
          transform: translateY(600px);
        }
        100% {
          transform: translateY(0);
        }
    } 
    /* crew-images */
    .crew-image[data='0'] {
        width: 100%;
        height: 71vh;
    }
    .crew-image[data='1'] {
        width: 100%;
        height: 71vh;
    }
    .crew-image[data='2'] {
        width: 100%;
        height: 71vh;
    }
    .crew-image[data='3'] {
        width: 100%;
        height: 74vh;
    }
    /* technology images */
    .tech-image[data='0'] {
        background: url('./components/assets/technology/image-launch-vehicle-portrait.jpg') no-repeat center/cover;
        width: 26vw;
        height: 50vh;
    }
    .tech-image[data='1'] {
        background: url('./components/assets/technology/image-spaceport-portrait.jpg') no-repeat center/cover;
        width: 26vw;
        height: 50vh;
    }
    .tech-image[data='2'] {
        background: url('./components/assets/technology/image-space-capsule-portrait.jpg') no-repeat center/cover;
        width: 26vw;
        height: 50vh;
    }
}

/* Background images */
.home {
    background: url('./components/assets/home/background-home-mobile.jpg')  no-repeat center/cover;
    height: 100vh;
  }
.destination {
    background: url('./components/assets/destination/background-destination-mobile.jpg') no-repeat center/cover;
    height: 100vh;
  }
.crew {
    background: url('./components/assets/crew/background-crew-mobile.jpg') no-repeat center/cover;
    height: 100vh;
}
.tech {
    background: url('./components/assets/technology/background-technology-mobile.jpg') no-repeat center/cover;
    height: 100vh;
}

  @media only screen and (min-width: 700px) {
    .home {
        background: url('./components/assets/home/background-home-tablet.jpg') no-repeat center/cover;
    }
    .destination {
        background: url('./components/assets/destination/background-destination-tablet.jpg') no-repeat center/cover;
    }
    .crew {
        background: url('./components/assets/crew/background-crew-tablet.jpg') no-repeat center/cover;
    }
    .tech {
        background: url('./components/assets/technology/background-technology-tablet.jpg') no-repeat center/cover;
    }
  }
  
@media only screen and (min-width: 1200px) {
    .home {
        background: url('./components/assets/home/background-home-desktop.jpg') no-repeat center/cover;
    }
    .destination {
        background: url('./components/assets/destination/background-destination-desktop.jpg') no-repeat center/cover; 
    }
    .crew {
        background: url('./components/assets/crew/background-crew-desktop.jpg') no-repeat center/cover;
    }
    .tech {
        background: url('./components/assets/technology/background-technology-desktop.jpg') no-repeat center/cover;
    }
  }


